*{
    margin: 0;
    padding: 0;
}
html{height: 100%;}
body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

section {
    width: 80%;
    margin: auto;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}

footer {
    height: 50%;
    text-align: center;
    padding: 20px 0;
    background-color: #4CAF50;
    color: white;
}

.search-container {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-input {
    
    border: none;
    padding: 10px 5%;
    outline: none;
    width: 80%;
}

.search-button {
    width: 20%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 2%;
    border: none;
    background-color: #5dc966;
    color: white;
    cursor: pointer;
  

}

h1 {
    margin-top: 16px;
    text-align: center;
    color: white;
}
.category {
    margin-bottom: 40px;
}
.subcategory {
    margin-left: 20px;
    border-left: 2px solid #007bff;
    padding-left: 10px;
}
.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.product img {
    max-width: 100px;
    margin-right: 15px;
}
.product h3 {
    margin: 0;
    color: #007bff;
}
.product p {
    margin: 5px 0;
}
.price {
    font-weight: bold;
    color: #28a745;
}
.content{
    padding-top: 5%;
    margin: 0%;
}
p{
    margin-top: 5px;
}